<div class="container">
    <div class="row">
        <div class="col">
          <input class="form-control m-2" placeholder="Search by username (go to services/filter.pipe.ts to enable other searches)" [(ngModel)]="searchText" type="search">
            <div class="card p-2 m-4" *ngFor="let post of posts | filter: searchText">
              <a class="stretched-link" routerLink="/posts/{{ post.id }}"></a>
                <div class="card-body">
                    <h5 class="card-title">{{ post?.title || 'Title' }}</h5>
                    <h6 class="card-subtitle">{{ post?.uName || 'User Name' }}</h6>
                    <h6 class="card-subtitle">aka {{ post?.name || 'Full Name'}}</h6>
                    <p class="card-text"> {{ post?.body || 'Post Body' }} </p>
                </div>
            </div>
        </div>
    </div>
</div>
