<div class="container">
  <div class="row">
    <div class="col">
        <div class="card m-4">
          <div class="card-body">
            <h5 class="card-title">
              {{ post?.title || 'Post Title' }}
            </h5>
            <h6>
              {{ post?.uName || 'Post Username'}}
            </h6>
            <p class="card-text">
              {{ post?.body || 'Post Body' }}
            </p>
          </div>
        </div>
        <div class="card m-5" *ngFor="let comment of comments">
          <div class="card-header">
            {{ comment?.email || 'example@mail.com' }}
          </div>
          <div class="card-body">
            <h5 class="card-title">
                {{comment?.name || 'Comment Title'}}
            </h5>
              <p class="card-text">{{ comment?.body || 'Comment Body' }}</p>
          </div>
        </div>
    </div>
  </div>
</div>
